body {
  font-family: cursive;
  padding: 0px 450px;
  text-align: center;
  font-size: 1.5rem;
}

p {
  font-size: 2rem;
}

button {
  padding: 7px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
}